{# src/Acme/Bundle/BlogBundle/Resources/views/Advert/index.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <title>Accueil</title>
    </head>
    <body>
        <h1>Bienvenue !</h1>
        
        <p>
          Anonymous Gift est une plateforme qui permet d'échanger des cadeaux avec vos amis. Pour pouvoir débuter l'experience, il faut se connecter. Si vous n'avez pas de compte, vous pouvez en créer un sur le portail création de compte 
        </p>
    </body>
</html>
